.btn {
  display: inline-block;
  background: #007ACC;
  color: white;
  padding: 0.6em 1em;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.btn:hover {
  background: #005EA8;
}